.disaster-container {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 0.1rem 1rem;
  .msg {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  &:hover {
    background-color: #dbdbdb;
  }
}
